@media print {
    .page-screen {
        visibility: hidden;
     }
    .page-print {
        visibility: block;
     }
    .ftsz {
        font-size: 1.5em;
    }
    .brdr {
        border-collapse: collapse;
        th{
            border: 3px solid black;
        }
        td{
            border: 3px solid black;
        }
        tr{
            border: 3px solid black;
        }
    }
    .img-sz{
        width: 15%;
        height: 15%;
    }
    .bold-brd{
        border: 3px solid black;
    }
 }
 .ctnr{
    height: 70px;
 }

 .ctnr img{
    max-height: 100%;
    max-width: 100%;
 }

 .cntr{
    text-align: center;
 }
 .inln{
    display: inline;
 }

 .font-lg{
    font-size: large;
 }